body, html {
	width: 100%;
	height: 100%;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-family: 'Sunflower', sans-serif;
	font-family: 'Exo', sans-serif;
	color: rgba(52, 58, 54,0.9);
	text-shadow: 
}

.flex-container {
	display: flex;
	flex-direction: column;
	background-position: center;
	background-image: url("header.jpg");
	height: 100%;
	background-size: cover;
	justify-content: center;
	align-content:center;
	margin-bottom: 0;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.btn {
	color: rgba(252, 248, 242,0.9);
	align-self:center;
	font-family: 'Roboto', sans-serif;
	font-family: 'Sunflower', sans-serif;
	font-family: 'Exo', sans-serif;
	/*margin-top: 30em;*/
	padding: 1rem 2rem;
	border-radius: 300px;
	border-color: transparent;
}

.btn:hover{
	transform: scale(1.1);
	cursor: pointer;
}



/*body { 
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
  width: 100%;
}

@media (max-width: 1024px)
body, html {
/* height: 100%!important; */
overflow: auto!important;
max-height: 100% !important;
}*/